
<div class="content p-20">
  <mat-card fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
    <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <span class="mr-8">สถานะ</span>
      <mat-form-field fxFlex="15">
        <mat-select [(ngModel)] = "status" (selectionChange)="filterStatus()">
          <mat-option *ngFor="let item of selectStatus" [value]="item.value">{{item.desc}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div fxFlex="15">
        <button mat-raised-button color="accent" (click)="readNotifyList()">อ่านทั้งหมด</button>
      </div>
    </div>

    <dx-data-grid [dataSource]="dataSource" [remoteOperations]="false" [allowColumnReordering]="false"
  [rowAlternationEnabled]="false" [showBorders]="true" [showColumnLines]="true" [allowColumnResizing]="true">

  <dxo-paging [pageSize]="10"></dxo-paging>

  <dxo-pager *ngIf="dataSource.length>0" [showPageSizeSelector]="true" [visible]="true" [allowedPageSizes]="false"></dxo-pager>  

  <dxi-column dataField="notifyHeader" dataType="string" caption="หัวข้อ" [width]="300"></dxi-column>
  <dxi-column dataField="notifyDesc" dataType="string" caption="รายละเอียด" [width]="720"></dxi-column>
  <dxi-column dataField="readStatusDesc" dataType="string" caption="สถานะ" [width]="100"></dxi-column>
  <dxi-column dataField="createDate" dataType="date" format="dd/MM/yyyy" caption="Brief Date" alignment="center"
    [width]="110"></dxi-column>
  <dxi-column caption="อ่าน" cellTemplate="optionsTemplate" alignment="center" [width]="100"></dxi-column>
    <div *dxTemplate="let cell of 'optionsTemplate'">
      <a mat-icon-button (click)="readAndLink(cell.data)">
        <mat-icon matTooltip="อ่าน" matTooltipPosition="above">description</mat-icon>
      </a>
    </div>
</dx-data-grid>
  </mat-card>
</div>