<button mat-icon-button id="noti" (click)="isPopoverVisible = !isPopoverVisible">
  <mat-icon matTooltip="Notifications" matBadge="{{getUnReadCount()}}" matBadgeColor="accent" [matBadgeHidden]="getUnReadCount() == 0">
    notifications
  </mat-icon>
</button>
<dx-popover id="timerContrainer" target="#noti" [closeOnOutsideClick]="true" [visible]="isPopoverVisible">
  <div fxFlex="100" *dxTemplate="let data of 'content'" class="w-400 " fxLayout="column" fxLayoutAlign="start stretch">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="blue-grey-fg p-8 border-bottom">
      <span class="">Notifications</span>
      <span (click)="isPopoverVisible = false" class="cursor-pointer green-fg" (click)="readNotifyList()">Read All</span>
      <span (click)="isPopoverVisible = false" class="cursor-pointer black-fg" [routerLink]="['/pages/noti/main/']">See All</span>
      <span (click)="isPopoverVisible = false" class="cursor-pointer red-fg">Close</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start stretch" class="h-300 inner-scroll" fusePerfectScrollbar>
      <div *ngFor="let item of notiList | slice:0:20;let i=index" class="border-bottom p-8 cursor-pointer"
        [ngClass]="{'yellow-100': item.readStatus === 'N'}" (click)="readAndLink(item)">
        <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="i<20">
          <div fxFlex="10" fxLayoutAlign="center center">
            <mat-icon class="yellow-800-fg">assignment</mat-icon>
          </div>
          <div fxFlex="90">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <span class="font-size-14">{{item.notifyHeader}}</span>
              <span class="grey-400-fg mat-caption">{{item.createDate | amCalendar}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <span class="grey-700-fg ">{{item.notifyDesc}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</dx-popover>