<dx-data-grid [dataSource]="dataSource" [remoteOperations]="true" [allowColumnReordering]="true"
  [rowAlternationEnabled]="true" [showBorders]="true" [showColumnLines]="true" [allowColumnResizing]="true">
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[false]"></dxo-pager>
  <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

  <dxo-pager *ngIf="dataSource.length>0" [showPageSizeSelector]="true" [visible]="true" [allowedPageSizes]="false"></dxo-pager>  

  <dxi-column dataField="compName" dataType="string" caption="Client" [width]="80"></dxi-column>
  <dxi-column dataField="projectName" dataType="string" caption="Project" [width]="90">
  </dxi-column>
  <dxi-column dataField="jobYear" dataType="string" caption="Year" alignment="center" [width]="80"></dxi-column>
  <dxi-column dataField="jobNo" dataType="date" caption="Job NO" alignment="center" [width]="125"></dxi-column>
  <dxi-column dataField="taskName" dataType="string" caption="Task" alignment="center"></dxi-column>
  <dxi-column dataField="jobStatusName" dataType="string" caption="Status" alignment="center" [width]="80"></dxi-column>
  <dxi-column dataField="startDate" dataType="date" caption="Start" alignment="center" format="dd/MM/yyyy" [width]="100" ></dxi-column>
  <dxi-column dataField="endDate" dataType="date" caption="End" alignment="center" format="dd/MM/yyyy"[width]="100"></dxi-column>
  <dxi-column dataField="estimated" dataType="string" caption="Estimated (Hours)" alignment="center" [width]="90">
  </dxi-column>
  <dxi-column dataField="totalWorkingTime" dataType="string" caption="Used (Hours)" alignment="center" [width]="115">
  </dxi-column>
  <dxi-column dataField="empFullName" dataType="string" caption="Employee" alignment="center" [width]="200">
  </dxi-column>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>  
</dx-data-grid>