.dx-pager .dx-page-sizes .dx-selection, .dx-pager .dx-pages .dx-selection {
    font-weight: 500;
    background-color: #d4d4d4;
    color: #333;
  }

  .dx-pager .dx-page-sizes .dx-page-size:first-child {
    margin-left: 0;
    display: table-column-group;
}