<div fxLayout="column" fxLayoutAlign="space-between stretch">
  <h2 mat-dialog-title class="red-fg text-center">ดำเนินการไม่สำเร็จ</h2>
  <mat-divider></mat-divider>
  <h3 class=" text-center">{{data.message}}</h3>
  <p class=" text-center">{{data.description}}</p>
  <!-- <p  class=" text-center">กรุณาลองใหม่อีกครั้ง</p>  -->
  <mat-divider>
  </mat-divider>
  <div fxLayout="row" fxLayoutAlign="center center" class="text-center mt-20">
    <button mat-raised-button [mat-dialog-close] color="accent">
      OK
    </button>
  </div>
</div>