<mat-form-field fxFlex>
    <mat-label>Client</mat-label>
    <mat-select  required [formControl]="clients" >
      <mat-option *ngFor="let client of customerList" [value]="client.compCode">
        {{client.compName}}
      </mat-option>
    </mat-select>
  </mat-form-field>