<h1 mat-dialog-title>เปลียนรหัสผ่าน</h1>
<div mat-dialog-content>
    <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate fxLayout="column">
        <mat-form-field appearance="outline">
            <mat-label>รหัสผ่านเดิม</mat-label>
            <input matInput type="password" formControlName="old_password" autocomplete="new-password" required>
            <mat-error *ngIf="resetPasswordForm.get('old_password').hasError('required')">
              ต้องระบุรหัสผ่านเดิม
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>รหัสผ่านใหม่</mat-label>
            <input matInput type="password" formControlName="new_password" autocomplete="new-password" required>
            <mat-error *ngIf="resetPasswordForm.get('new_password').hasError('required')">
              ต้องระบุรหัสผ่านใหม่
            </mat-error>
          </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>ยืนยันรหัสผ่านใหม่</mat-label>
          <input matInput type="password" formControlName="confirm_new_password" autocomplete="new-password" required>
          <mat-error *ngIf="resetPasswordForm.get('confirm_new_password').hasError('required')">
            ต้องระบุยืนยันรหัสผ่านใหม่
          </mat-error>
        </mat-form-field>
      </form>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button color="accent" matTooltip="Save" matTooltipPosition="above" (click)="submit()">
    <mat-icon>save</mat-icon>
  </button>
  <button mat-stroked-button color="warn" matTooltip="Cancel" matTooltipPosition="above" [mat-dialog-close]><mat-icon>close</mat-icon></button>
</div>