<mat-form-field fxFlex>
  <mat-label>Project</mat-label>
  <mat-select [formControl]="projects" multiple [disabled]="projectList?.length == 0">
    <mat-select-trigger>
      {{projects?.value?.length > 0 ? projects?.value[0].projectName : ''}}
      <span *ngIf="projects.value?.length > 1">
        (+{{projects?.value?.length - 1}})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let item of projectList" [value]="item">{{item.projectName}}</mat-option>
  </mat-select>
</mat-form-field>