<h1 mat-dialog-title>{{data.titleModal}}</h1>
<div mat-dialog-content>
    <!-- [data]="data" คือการส่งค่าจาก ตัวเองไปยัง component อื่นที่ต้องใช้หรือไม่ใช้ data และ ผู้รับต้อง ตั้ง Input ชื่อ เดียวกัน คือ data (@Input() data : any;) 
    ถ้าต้องรับค่าจาก component อื่น ต้องใสเครื่องหมาย $ นำหน้าเสมอ เช่น onContactFormSubmit($event)
    -->
    <app-contact-form [data]="data" (formData)="onContactFormSubmit($event)"></app-contact-form>
</div>
<div mat-dialog-actions align="center">
    <button mat-raised-button color="accent" matTooltip="Save" matTooltipPosition="above" (click)="onSaveContact()">
        <mat-icon>save</mat-icon>
    </button>
    <button mat-stroked-button color="warn" [mat-dialog-close] matTooltip="Cancel" matTooltipPosition="above">
        <mat-icon>close</mat-icon>
    </button>
</div>