<div class="page-layout simple fullwidth">
  <div fxFlex="55px" class="grey-200 pr-20 pl-20" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex>
      <h2 class="m-0">Job</h2>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
      <button *ngIf="isShowButtonSave()" mat-raised-button color="accent" (click)="onSave($event)" matTooltip="Save"
        matTooltipPosition="above">
        <mat-icon>save</mat-icon>
      </button>
      <a mat-stroked-button color="warn" [routerLink]="'/pages/jobs/list'" matTooltip="Exit" matTooltipPosition="above">
        <mat-icon>close</mat-icon>
      </a>
    </div>
  </div>
  <div class="content p-20">
    <mat-card class="mb-20">
      <form name="jobForm" novalidate [formGroup]="jobForm" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
          <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <mat-form-field fxFlex>
              <mat-label>Client</mat-label>
              <mat-select formControlName="compCode" required>
                <mat-option *ngFor="let item of customerList" [value]="item.compCode">
                  {{item.compName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="jobForm.get('compCode').hasError('required')">
                Please specify client.
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
              <mat-label>Project</mat-label>
              <mat-select formControlName="projectCode" [disabled]="!jobForm.get('compCode').value" required>
                <mat-option *ngFor="let item of projectList" [value]="item?.projectCode">{{item.projectName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="jobForm.get('projectCode').hasError('required')">
                Please specify project.
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
            <mat-form-field fxFlex="230px" appearance="outline">
              <mat-label>Job NO.</mat-label>
              <input formControlName="jobNo" matInput style="
                font-size: 20px;
                text-align: center;
                text-transform: uppercase;
              " autocomplete="off" [disabled]="true" />
            </mat-form-field>
          </div>
        </div>
        <!-- <mat-divider></mat-divider> -->
        <div class="mt-12">
          <span class="h2">Detail</span>
          <div fxLayout="row" fxLayoutAlign="space-between top" fxLayoutGap="20px" class="mt-12 mb-12">
            <div fxFlex="75" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px" class="fuse-card p-12">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                <mat-form-field fxFlex>
                  <mat-label>Contact Person</mat-label>
                  <mat-select formControlName="personCode" required>
                    <mat-option *ngFor="let item of contactPersonList" [value]="item.personCode">
                      {{item.fullName}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="jobForm.get('personCode').hasError('required')">
                    Please select contact person.
                  </mat-error>
                </mat-form-field>
                <!-- แปะ component ปุ่มเพิ่ม contact และส่ง compCode เป็น input ไปให้ด้วย 
                     และเจาะท่อรับข้อมูล boolean จากการกระทำบางอย่างเสร็จ มายัง saveChange เพื่อกกระทำต่อใน function afterSaveContact-->
                <app-contact-add-button *ngIf="isShowButtonSave()" [compCode]="jobForm.get('compCode').value"
                  (saveChange)="afterSaveContact($event)"></app-contact-add-button>
              </div>
              <div fxLayout="row" fxLayoutGap="10px">
                <mat-form-field fxFlex>
                  <mat-label>Service</mat-label>
                  <mat-select formControlName="srvcCode" required>
                    <mat-option *ngFor="let item of serviceList" [value]="item.srvcCode">{{
                    item.srvcName
                  }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="jobForm.get('srvcCode').hasError('required')">
                    Please specify service.
                  </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex>
                  <mat-label>Sub Service</mat-label>
                  <mat-select required formControlName="subSrvcCode">
                    <mat-option *ngFor="let item of subServiceList" [value]="item.srvcSubCode">{{
                    item.srvcSubName
                  }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="jobForm.get('subSrvcCode').hasError('required')">
                    Please specify sub service.
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
                <mat-form-field fxFlex>
                  <mat-label>Job name</mat-label>
                  <input matInput formControlName="jobName" required autocomplete="off">
                  <mat-error *ngIf="jobForm.get('jobName').hasError('required')">
                    Please specify job name.
                  </mat-error>
                  <mat-error *ngIf="jobForm.get('jobName').hasError('maxlength')">
                    Please enter no more than
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxLayout="column">
                <h3>Description</h3>
                <dx-html-editor height="363px" formControlName="jobDesc">
                  <dxo-toolbar multiline="false">
                    <dxi-item formatName="undo"></dxi-item>
                    <dxi-item formatName="redo"></dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="size"
                      [formatValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"></dxi-item>
                    <dxi-item formatName="font"
                      [formatValues]="['Arial', 'Courier New', 'Georgia', 'Impact', 'Lucida Console', 'Tahoma', 'Times New Roman', 'Verdana']">
                    </dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="bold"></dxi-item>
                    <dxi-item formatName="italic"></dxi-item>
                    <dxi-item formatName="strike"></dxi-item>
                    <dxi-item formatName="underline"></dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="alignLeft"></dxi-item>
                    <dxi-item formatName="alignCenter"></dxi-item>
                    <dxi-item formatName="alignRight"></dxi-item>
                    <dxi-item formatName="alignJustify"></dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="orderedList"></dxi-item>
                    <dxi-item formatName="bulletList"></dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="header" [formatValues]="[false, 1, 2, 3, 4, 5]"></dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="color"></dxi-item>
                    <dxi-item formatName="background"></dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="link"></dxi-item>
                    <dxi-item formatName="image"></dxi-item>
                    <dxi-item formatName="separator"></dxi-item>
                    <dxi-item formatName="clear"></dxi-item>
                    <dxi-item formatName="codeBlock"></dxi-item>
                    <dxi-item formatName="blockquote"></dxi-item>
                  </dxo-toolbar>
                  <dxo-media-resizing [enabled]=true>
                  </dxo-media-resizing>
                </dx-html-editor>
              </div>
            </div>
            <div fxFlex="25" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
              <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select formControlName="jobStatusCode" required>
                  <mat-option *ngFor="let item of jobStatusList" [value]="item.jobStatusCode">{{
                  item.jobStatusName
                }}</mat-option>
                </mat-select>
                <mat-error *ngIf="jobForm.get('jobStatusCode').hasError('required')">
                  Please specify status.
                </mat-error>
              </mat-form-field>

              <mat-form-field *ngIf="isShowBudget()">
                <mat-label>Budget (Baht)</mat-label>
                <input currencyMask formControlName="workBudget" matInput autocomplete="off" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Brief Date</mat-label>
                <input formControlName="briefDate" required matInput [matDatepicker]="briefDatePicker"
                  autocomplete="off" />
                <mat-datepicker-toggle matSuffix [for]="briefDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #briefDatePicker></mat-datepicker>
                <mat-error *ngIf="jobForm.get('briefDate').hasError('required')">
                  Please specify brief date.
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Due Date</mat-label>
                <input formControlName="dueDate" required matInput [matDatepicker]="dueDatePicker" autocomplete="off"
                  [min]="this.jobForm.get('briefDate').value" />
                <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #dueDatePicker></mat-datepicker>
                <mat-error *ngIf="jobForm.get('dueDate').hasError('required')">
                  Please specify due date.
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Issue By</mat-label>
                <input formControlName="issueBy" required matInput autocomplete="off" />
                <mat-error *ngIf="jobForm.get('issueBy').hasError('required')">
                  Please specify issue by.
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Issue Date</mat-label>
                <input formControlName="issueDate" required matInput [matDatepicker]="issueDatePicker"
                  autocomplete="off" />
                <mat-datepicker-toggle matSuffix [for]="issueDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #issueDatePicker></mat-datepicker>
                <mat-error *ngIf="jobForm.get('issueDate').hasError('required')">
                  Please specify issue date.
                </mat-error>
              </mat-form-field>

              <div *ngIf='!previewLoaded' fxLayout="row">
                <input matTooltip="Choose File" matTooltipPosition="above" readonly class="name" placeholder="No file choosen" (click)="fileInput.click()" />
                <mat-icon matTooltip="Choose File" matTooltipPosition="above"  (click)="fileInput.click()"  matSuffix>attach_file</mat-icon>
                &nbsp;
                ​<button mat-raised-button color="accent" style="width: 50px;" (click)="upload()" disabled>
                  <mat-icon>cloud_upload</mat-icon>
                </button>
              </div>
              <div *ngIf='previewLoaded'   fxLayout="row">
                <input matTooltip="Choose File" matTooltipPosition="above" readonly class="name" placeholder="{{choosefile}}" (click)="fileInput.click()" />
                <mat-icon matTooltip="Choose File" matTooltipPosition="above" (click)="fileInput.click()" matSuffix>attach_file</mat-icon>
                &nbsp;
                ​<button mat-raised-button color="accent" style="width: 50px;" (click)="upload()">
                  <mat-icon matTooltip="Upload" matTooltipPosition="above">cloud_upload</mat-icon>
                </button>
              </div>
              <input #fileInput type="file" (change)="incomingfile($event)" hidden >
              <div *ngIf="uploadSucced" >
                <div fxLayout="row" fxLayoutAlign="space-evenly start" >
                  <span>name</span>
                  <span style="padding-left: 19px;">type</span>&nbsp;
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                  <div fxLayout="row" *ngFor="let item of dataSource;" fxLayoutAlign="center center" >
                    <div *ngIf="item.isActive=='Y'" >
                    <span class="b"> {{item.oldFileName}}</span>&nbsp;
                    <span class="a"> {{item.fileType}}</span>&nbsp;<label style="padding-left: 6px;"></label>
                    <button class="c" mat-mini-fab color="accent"   (click)="delete(item.key)">
                      <mat-icon matTooltip="Delete" matTooltipPosition="above">delete_forever</mat-icon>
                    </button>
                    <button class="c"  mat-mini-fab color="accent" (click)="location(item.filePath)">
                      <mat-icon matTooltip="Show" matTooltipPosition="above">slideshow icon</mat-icon>
                    </button>
                    </div>
                  </div>
                </div>
                </div>
            
            </div>
          </div>
        </div>
      </form>
    </mat-card>
    <mat-card fxLayout="column">
      <div *ngIf="isShowButtonSave()" fxLayout="row" fxLayoutAlign="space-between center" class="h-44">
        <div><span class="h2">Task Detail</span></div>
        <div fxLayout="row" fxLayoutAlign="end center">
          <button mat-raised-button color="accent" matTooltip="New job task" matTooltipPosition="above"
            (click)="openJobTaskModal()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <rr-jobs-task-grid [isShowButton]="isShowBudget()" [dataSource]="jobsTaskList" [jobStatusCode]="jobStatusCode" ></rr-jobs-task-grid>
    </mat-card>

  </div>
</div>