#jobDescEditor .dx-toolbar .dx-toolbar-items-container {
  height: 40px;
  overflow: visible;
}

#jobDescEditor
  .dx-rtl
  .dx-texteditor.dx-editor-filled.dx-show-clear-button
  .dx-texteditor-input,
#jobDescEditor
  .dx-rtl
  .dx-texteditor.dx-editor-outlined.dx-show-clear-button
  .dx-texteditor-input,
#jobDescEditor
  .dx-rtl.dx-texteditor.dx-editor-filled.dx-show-clear-button
  .dx-texteditor-input,
#jobDescEditor
  .dx-rtl.dx-texteditor.dx-editor-outlined.dx-show-clear-button
  .dx-texteditor-input,
#jobDescEditor .dx-texteditor.dx-editor-filled .dx-placeholder:before,
#jobDescEditor .dx-texteditor.dx-editor-filled .dx-texteditor-input,
#jobDescEditor .dx-texteditor.dx-editor-outlined .dx-placeholder:before,
#jobDescEditor .dx-texteditor.dx-editor-outlined .dx-texteditor-input {
  padding: 10px 3px 8px;
}

span.b {
  width: 9em;
  outline: 1px solid #ffd2d200;
  margin: 0 0 2em 0;
  white-space: nowrap;
  overflow: hidden;
  /* display: inline-flex; */
  font: 14px monospace;
  margin: 0 0 5px 0;
  text-overflow: ellipsis; 
  white-space: nowrap; 
  padding: 0;
  position: relative;
  display: inline-block;
  margin: 0 5px 0 5px;
  text-align: center;
  text-decoration: none;
 

}
.border, .b {
  border: 1px solid rgba(255, 255, 255, 0.7);
}
span.a {
  width: 2em;
  outline: 1px solid #ffd2d200;
  margin: 0 0 2em 0;
  white-space: nowrap;
  overflow: hidden;
  /* display: inline-flex; */
  font: 14px monospace;
  margin: 0 0 5px 0;
  text-overflow: ellipsis; 
  white-space: nowrap; 
  padding: 0;
  position: relative;
  display: inline-block;
  margin: 0 5px 0 5px;
  text-align: center;
  text-decoration: none;

}
.border, .a {
  border: 1px solid rgba(255, 255, 255, 0.7);
}
body.theme-default .mat-fab:not([class*=mat-elevation-z]), body.theme-default .mat-mini-fab:not([class*=mat-elevation-z]) {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.0), 2px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 0px 18px 0px rgba(0, 0, 0, 0.10);
}
.mat-mini-fab .mat-button-wrapper>* {
  vertical-align: sub;
}
.mat-mini-fab{
  width: 44px;height: 34px;
}
.border, .c {
  padding-top: 1px;
  border: 1px solid #413f36(15, 14, 14, 0.7);
}