<div class="page-layout simple fullwidth">
  <div fxFlex="55px" class="grey-200 pr-20 pl-20" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex>
      <h2 class="m-0">Timesheet</h2>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
      <button mat-raised-button color="accent" (click)="openDialog()" matTooltip="Add New Task"
        matTooltipPosition="above">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div class="content p-20">
    <mat-card fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
      <form name="searchFrom" [formGroup]="searchForm" novalidate>
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">

              <mat-form-field fxFlex>
                <mat-label>Client</mat-label>
                <mat-select formControlName="compCode">
                  <mat-option *ngFor="let item of clientList" [value]="item.compCode">{{item.compName}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field fxFlex>
                <mat-label>Project</mat-label>
                <mat-select formControlName="projectCode"
                  [disabled]="!searchForm.get('compCode').value || projectList?.length == 0">
                  <mat-option *ngFor="let item of projectList" [value]="item.projectCode">{{item.projectName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <ng-select fxFlex="40" labelForId="employee" [items]="employeeList" bindLabel="firstName"
                bindValue="empNo" [multiple]="true" clearAllText="Clear" formControlName="empNoList">
              </ng-select>

            </div>
            <button mat-raised-button color="accent" (click)="onSearch()" matTooltip="Search"
              matTooltipPosition="above">
              <mat-icon>search</mat-icon>
            </button>
            <button mat-stroked-button (click)="setSearchFormValidate()" matTooltip="Reset Search"
              matTooltipPosition="above">
              <mat-icon>replay</mat-icon>
            </button>
          </div>

          <div fxLayout="row" fxLayoutAlign="center top" fxLayoutGap="20px">
            <mat-form-field>
              <mat-label>Start</mat-label>
              <input matInput [matDatepicker]="pickerStart" formControlName="startDate" autocomplete="off" required
                [max]="searchForm.get('endDate').value" readonly>
              <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
              <mat-datepicker #pickerStart></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <mat-label>End</mat-label>
              <input matInput [matDatepicker]="pickerEnd" formControlName="endDate" autocomplete="off" required
                [min]="searchForm.get('startDate').value" readonly>
              <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
              <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>
          </div>

        </div>
      </form>
      <rr-timer-grid fxFlex [start]="searchForm.get('startDate').value" [end]="searchForm.get('endDate').value"
        (saveChangeTimeManual)="timeManualTrigger()">
      </rr-timer-grid>
    </mat-card>
  </div>
</div>