/* #gridContainer .dx-datagrid-rowsview .dx-row.dx-group-row {
  font-weight: unset !important;
}
#gridContainer .dx-datagrid-summary-item {
  font-weight: 200;
  font-size: 14px;
  color: rgba(29, 57, 71, 0.5);
}
#gridContainer .dx-datagrid .dx-data-row > td {
  font-size: 18px;
}
#gridContainer .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
  font-size: 12px;
}
#gridContainer .dx-datagrid-rowsview .dx-group-row.dx-row > td {
  border-left-color: #e0e0e0 !important;
  border-right-color: #e0e0e0 !important;
}
#gridContainer .dx-datagrid-rowsview .dx-row.dx-group-row:not(.dx-row-focused) {
  color: rgba(0, 0, 0, 0.54);
  background-color: #607d8b14;
}
#gridContainer .dx-datagrid .dx-row > td {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 14px;
}

#gridContainer td[aria-colindex="9"][role="gridcell"],
#gridContainer td[aria-colindex="10"][role="gridcell"] {
  background: repeating-linear-gradient(
    -45deg,
    #fff 10%,
    #00000000 20%,
    #ccc 21%
  );
}



#gridContainer td[aria-colindex="8"][role="columnheader"] {
  border-top: 2px #fdd835 solid;
}
#gridContainer td[aria-colindex="8"] {
  background-color: #fdd8351e;
} */
#timesheetGrid #dx-col-2,
#timesheetGrid #dx-col-3,
/* #timesheetGrid #dx-col-4, */
#timesheetGrid #dx-col-5,
#timesheetGrid #dx-col-6,
#timesheetGrid #dx-col-7,
#timesheetGrid #dx-col-8 {
  padding: 0 !important;
}
.dx-pager .dx-page-sizes .dx-selection,
.dx-pager .dx-pages .dx-selection {
  font-weight: 500;
  background-color: #d4d4d4;
  color: #333;
}
.dx-pager .dx-page-sizes .dx-page-size:first-child {
  margin-left: 0;
  display: table-column-group;
}

span.b {
  width: 20em;
  outline: 1px solid #ffd2d200;
  margin: 0 0 2em 0;
  white-space: nowrap;
  overflow: hidden;
  /* display: inline-flex; */
  font: 14px monospace;
  margin: 0 0 5px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0;
  position: relative;
  display: inline-block;
  margin: 0 5px 0 5px;
  text-decoration: none;
}
.border,
.b {
  border: 1px solid rgba(70, 70, 70, 0.7);
}
 .overflow{
  white-space: nowrap;
  width: 283px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid rgba(255,255,255,.9);
}