<dx-data-grid id="timesheetGrid" *ngIf="dataSource.length > 0" [dataSource]="dataSource" [remoteOperations]="false"
  [allowColumnReordering]="false" [rowAlternationEnabled]="false" [showBorders]="true" [showColumnLines]="true"
  (onContentReady)="contentReady($event)" [columns]="columns">
  <!-- <dxo-search-panel [visible]="true"></dxo-search-panel> -->
  <dxo-scrolling [useNative]="true" mode="standard" [scrollByContent]="true" [scrollByThumb]="true"
  showScrollbar="onHover"></dxo-scrolling>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="false"></dxo-pager>
  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-column-chooser [title]="chooserTitle" [enabled]="true" mode="select"></dxo-column-chooser>
  <dxo-pager *ngIf="dataSource.length>0" [showPageSizeSelector]="true" [visible]="true" [allowedPageSizes]="false">
  </dxo-pager>
  <dxi-column [filterOperations]="false" dataField="userFullName" dataType="string" caption="Employee" [width]="110">
    
  </dxi-column>
  <dxi-column dataField="compCode" dataType="string" alignment="center" caption="Client" [width]="70"></dxi-column>
  <dxi-column dataField="jobNo" dataType="string" cellTemplate="jobNoTemplate" alignment="center" caption="Jobs No."
    [width]="120">
    <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
    <!-- <dxo-header-filter 
    [dataSource]="orderHeaderFilter"></dxo-header-filter> -->
  </dxi-column>
  <div *dxTemplate="let cell of 'jobNoTemplate'">
    <span id="{{cell.data.jobNo}}">{{cell.data.jobNo}}</span>
    <dx-tooltip target="#{{cell.data.jobNo}}" position="right" showEvent="dxhoverstart" hideEvent="dxhoverend">
      <div *dxTemplate="let data = data of 'content'" class="text-left grey-50 border border-radius-4 p-8">
        <span class="h3 indigo-fg">Job No. : {{cell.data.jobData.jobNo}}</span><br />
        <mat-divider></mat-divider>
        <span>Job Name :{{cell.data.jobData.jobName}}</span><br />
        <span>Contact Name :{{cell.data.jobData.jobNo}}</span><br />
        <span>Service :{{cell.data.jobData.serviceName}}</span><br />
        <span>Sub Service :{{cell.data.jobData.subServiceName}}</span><br />
        <span>Brief Date :{{cell.data.jobData.briefDate | datetime: 'DD/MM/YYYY'}}</span><br />
        <span>Due Date :{{cell.data.jobData.dueDate | datetime: 'DD/MM/YYYY'}}</span><br />
        <span>Issue By :{{cell.data.jobData.issueByName}}</span><br />
        <span>Issue Date :{{cell.data.jobData.issueDate | datetime: 'DD/MM/YYYY HH:mm'}}</span><br />
      </div>
    </dx-tooltip>
  </div>
  <dxi-column  dataField="taskName"  cellTemplate="taskTemplate" dataType="string" caption="Task" width="400px"></dxi-column>
  <div *dxTemplate="let cell of 'taskTemplate'">
    <div fxLayout="row" fxLayoutAlign="space-between center">

      <span class="overflow" id="{{cell.data.taskCode}}">{{cell.data.taskName}}</span>
      <dx-tooltip target="#{{cell.data.taskCode}}" position="right" showEvent="dxhoverstart" hideEvent="dxhoverend">
        <div *dxTemplate="let data = data of 'content'" class="text-left grey-50 border border-radius-4 p-8">
          <span class="h3 indigo-fg">Task : {{cell.data.taskCode}}</span><br />
          <mat-divider></mat-divider>
          <span>Task Name :{{cell.data.taskName}}</span><br />
          <span>Task Group :{{cell.data.taskGroupName}}</span><br />
          <span>Status :{{cell.data.taskStatusName}}</span><br />
          <span>Start Date :{{cell.data.planStartDate | datetime: 'DD/MM/YYYY'}}</span><br />
          <span>End Date :{{cell.data.planEndDate | datetime: 'DD/MM/YYYY'}}</span><br />
          <span>Due Date :{{cell.data.dueDate | datetime: 'DD/MM/YYYY'}}</span><br />
          <span>Priority :{{cell.data.priorityName}}</span><br />
          <span>Estimated :{{cell.data.estimated}}</span><br />
        </div>
      </dx-tooltip>


      <div fxLayout="row" fxLayoutAlign="end center">
        <rr-timer-button [task]="cell.data"></rr-timer-button>

        <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="More" matTooltipPosition="above">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onClickDetail(cell.data);">
            <mat-icon>edit</mat-icon>
            <span>Task Info</span>
          </button>

          <a mat-menu-item [routerLink]="['/pages/jobs/detail/' + cell.data.jobNo]">
            <mat-icon>assignment</mat-icon>
            <span>Job Detail</span>
          </a>
          <a mat-menu-item (click)="clickHistoryTime(cell.data)">
            <mat-icon>history_edu</mat-icon>
            <span>Work History</span>
          </a>
        </mat-menu>
      </div>
    </div>
  </div>

  <dxi-column *ngFor="let item of dateList" [dataField]="item.value" caption="{{item.value | amDateFormat:'dd, DD'}}"
    cellTemplate="dayTemplate" alignment="center" [width]="90" time-column (click)="testClick(item)"></dxi-column>

  <div *dxTemplate="let cell of 'dayTemplate'" class="p-0">
    <span [ngClass]="{'cursor-pointer': isClick(cell), 'indigo-fg': isToday(cell.column.dataField)}"
      (click)="openWorkTimeManual(cell)">{{getDuration(cell.data.summaryTimeList, cell)}}</span>​
  </div>

  <dxi-column cellTemplate="totalDuration" dataType="number" caption="Total" alignment="center" [width]="80">
  </dxi-column>
  <div *dxTemplate="let cell of 'totalDuration'">
    {{convertDuration(cell.data.totalDuration)}}
  </div>​
  <dxo-summary [calculateCustomSummary]="calculateSummary">
    <dxi-total-item *ngFor="let item of dateList" [column]="item.value" name="{{item.name}}" [showInColumn]="item.name"
      summaryType="custom" alignment="center">
    </dxi-total-item>

    <dxi-total-item column="totalDuration" summaryType="sum" valueFormat="decimal" displayFormat="{0}">
    </dxi-total-item>
  </dxo-summary>

</dx-data-grid>