<h2 mat-dialog-title>Work History</h2>
<p style="padding-left: 2px;">task : {{data.taskName}} </p>
<br>
<div mat-dialog-content>
    <rr-timer-history-grid ></rr-timer-history-grid>
</div>
<div mat-dialog-actions align='center'>
    <button mat-stroked-button color="warn" matTooltip="Cancel" matTooltipPosition="above" [mat-dialog-close]>
        <mat-icon>close</mat-icon>
    </button>
</div>