<form name="contactForm" [formGroup]="contactForm" novalidate fxLayout="column" fxLayoutAlign="start stretch">
    <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <mat-form-field fxFlex>
                <mat-label>Client</mat-label>
                <mat-select formControlName="compCode" required>
                    <mat-option *ngFor="let item of customerList" [value]="item.compCode">
                        {{item.compName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="contactForm.get('compCode').hasError('required')">
                    Please specify Client.
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <mat-form-field fxFlex>
                <mat-label>Title</mat-label>
                <mat-select formControlName="preNameCode" required>
                    <mat-option *ngFor="let item of prenameList" [value]="item.preNameCode">
                        {{item.preNameName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="contactForm.get('preNameCode').hasError('required')">
                    Please specify Title.
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <mat-form-field fxFlex>
                <mat-label>First name</mat-label>
                <input matInput formControlName="firstName" required autocomplete="off">
                <mat-error *ngIf="contactForm.get('firstName').hasError('required')">
                    Please specify First name.
                </mat-error>
                <mat-error *ngIf="contactForm.get('firstName').hasError('maxlength')">
                    Please maxlength 100 First name.
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <mat-form-field fxFlex>
                <mat-label>Last name</mat-label>
                <input matInput formControlName="lastName" required autocomplete="off">
                <mat-error *ngIf="contactForm.get('lastName').hasError('required')">
                    Please specify Last name.
                </mat-error>
                <mat-error *ngIf="contactForm.get('lastName').hasError('maxlength')">
                    Please maxlength 100 Last name.
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <mat-form-field fxFlex>
                <mat-label>Mobile</mat-label>
                <input matInput formControlName="mobile" required autocomplete="off"
                    onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" pattern="[0-9]*">
                <mat-error *ngIf="contactForm.get('mobile').hasError('required')">
                    Please specify mobile.
                </mat-error>
                <mat-error *ngIf="contactForm.get('mobile').hasError('maxlength')">
                    Please maxlength 10 mobile.
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <mat-form-field fxFlex>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" required autocomplete="off">
                <mat-error *ngIf="contactForm.get('email').hasError('required')">
                    Please specify email.
                </mat-error>
                <mat-error *ngIf="contactForm.get('email').hasError('maxlength')">
                    Please maxlength 250 email.
                </mat-error>
                <mat-error *ngIf="contactForm.get('email').hasError('email')">
                    Please pattern email.
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <mat-form-field fxFlex>
                <mat-label>Job Position</mat-label>
                <input matInput formControlName="jobPosition" autocomplete="off">
                <mat-error *ngIf="contactForm.get('jobPosition').hasError('maxlength')">
                    Please maxlength 100 Job Position.
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</form>