<span class="h3">Job : Task Detail</span>

<div mat-dialog-content>
  <form namr="jobTaskForm" [formGroup]="jobTaskForm" novalidate fxLayout="row" fxLayoutAlign="space-between stretch"
    fxLayoutGap="20px" class="mt-12 mb-12">
    <input type="hidden" formControlName="jobTaskCode" />

    <div fxFlex="65" fxLayout="column" fxLayoutAlign="start stretch" class="fuse-card p-12">
      <mat-form-field>
        <mat-label>Task name</mat-label>
        <input matInput formControlName="jobTaskName" autocomplete="off" required />
        <mat-error *ngIf="jobTaskForm.get('jobTaskName').hasError('required')">
          Please specify task name.
        </mat-error>
        <mat-error *ngIf="jobTaskForm.get('jobTaskName').hasError('maxlength')">
          Please enter no more than
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="note" rows="5" autocomplete="off" required></textarea>
      </mat-form-field>

      <!-- <mat-form-field *ngIf="!isActionAdd()">
        <mat-label>Task Group <span>*ใช้เฉพาะกรณี invit คนใหม่เท่านั้น</span></mat-label>
        <mat-select formControlName="taskGroupCode" >
          <mat-option *ngFor="let taskGroup of taskGroupList" [value]="taskGroup.taskGroupCode">
            {{taskGroup.taskGroupName}}
          </mat-option>
        </mat-select>
      </mat-form-field>       -->

      <ng-select *ngIf="isCanAssing()" labelForId="employee" [items]="employeeList" bindLabel="empName"
        bindValue="empNo" [multiple]="true" clearAllText="Clear" formControlName="assignList" [appendTo]="'body'"
        labelForId="Employee">
      </ng-select>

      <mat-error *ngIf="jobTaskForm.get('assignList').hasError('required')">
        Please specify assignlist.
      </mat-error>
    </div>

    <div fxFlex="35" fxLayout="column" fxLayoutAlign="start stretch">
      <mat-form-field>
        <mat-label>Job Task Status</mat-label>
        <mat-select formControlName="jobTaskStatusCode" required>
          <mat-option *ngFor="let status of jobTaskStatusList" [value]="status.jobTaskStatusCode">
            {{status.jobTaskStatusName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="!isActionAdd()">
        <mat-label>Assign To</mat-label>
        <mat-select formControlName="deptCode" autocomplete="off" required>
          <mat-option *ngFor="let item of departmentList" [value]="item.deptCode">{{item.deptName}}</mat-option>
        </mat-select>
        <mat-error *ngIf="jobTaskForm.get('deptCode').hasError('required')">
          Please specify assign to.
        </mat-error>

      </mat-form-field >

      <div *ngIf="isActionAdd()">
        <mat-label>Assign To</mat-label>
        <div fxLayout="row" fxLayoutAlign="center center " >
          <ng-select 
          
          labelForId="DeptCode" 
          [items]="departmentList" 
          bindLabel="deptName"
          bindValue="deptCode" 
          [multiple]="true" 
          clearAllText="Clear" 
          formControlName="deptCode" 
          [appendTo]="'body'"
          labelForId="DeptCode">
      </ng-select>
      &nbsp;
      <mat-icon  style="padding-bottom: 20px;" matTooltip="Select All" matTooltipPosition="above" (click)="onSelectAll()">done_all</mat-icon>
        </div>
 
        <mat-error *ngIf="jobTaskForm.get('deptCode').hasError('required')">
          Please specify assign to.
        </mat-error>

      </div>

      <mat-form-field *ngIf="jobDetail">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="planStartDatePicker" formControlName="planStartDate" autocomplete="off"
          [max]="jobTaskForm.get('planEndDate').value" required/>
        <mat-datepicker-toggle matSuffix [for]="planStartDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #planStartDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field *ngIf="jobDetail">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="planEndDatePicker" formControlName="planEndDate" autocomplete="off"
          [min]="jobTaskForm.get('planStartDate').value" required/>
        <mat-datepicker-toggle matSuffix [for]="planEndDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #planEndDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Due Date</mat-label>
        <input matInput [matDatepicker]="dueDatePicker" formControlName="dueDate" autocomplete="off"
          [min]="jobTaskForm.get('planStartDate').value" required={{this.dataSource.task}}/>
        <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #dueDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priorityCode" required>
          <mat-option *ngFor="let item of priorityList" [value]="item.priorityCode">{{item.priorityName}}</mat-option>
        </mat-select>
        <mat-error *ngIf="jobTaskForm.get('priorityCode').hasError('required')">
          Please specify priority.
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button color="accent" matTooltip="Accept" matTooltipPosition="above" (click)="onSave()"
    *ngIf="editPermission">
    Save
  </button>
  <button mat-stroked-button color="warn" matTooltip="Cancel" matTooltipPosition="above" [mat-dialog-close]>
    <mat-icon>close</mat-icon>
  </button>
</div>