<span class="h3">Job Accept</span>
<div mat-dialog-content>
  <!-- <pre>{{formDataSource | json}}</pre> -->
  <form name="jobAssignForm" [formGroup]="jobAssignForm" novalidate fxLayout="column">
    <mat-form-field>
      <mat-label>Task name</mat-label>
      <input matInput formControlName="taskJobName" autocomplete="off" [(ngModel)]="formDataSource.jobTaskName"
        readonly />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Due Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dueDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Priority</mat-label>
      <input matInput formControlName="priority" autocomplete="off" [(ngModel)]="formDataSource.priorityName"
        readonly />
    </mat-form-field>

    <ng-select labelForId="employee" [items]="employeeList" bindLabel="firstName" bindValue="empNo" [multiple]="true"
      clearAllText="Clear" formControlName="assignList" required [appendTo]="'body'">
    </ng-select>

  </form>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button color="accent" (click)="onSave()">
    Accept
  </button>
  <button mat-stroked-button color="warn" [mat-dialog-close]>
    Cancel
  </button>
</div>