<form name="timeManualForm" [formGroup]='timeManualForm' novalidate fxLayout="column" fxLayoutAlign="start stretch">
  <mat-form-field>
    <mat-label>Cilent</mat-label>
    <input matInput formControlName="compCode" type="text" readonly required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Project</mat-label>
    <input matInput formControlName="projectCode" type="text" readonly required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Job No.</mat-label>
    <input matInput formControlName="jobNo" type="text" readonly required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Task</mat-label>
    <input matInput formControlName="taskCode" type="text" readonly required>
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <mat-form-field fxFlex="20" appearance="outline">
      <mat-label>Hours</mat-label>
      <input matInput formControlName="hours" type="text" maxlength="2" required autocomplete="off"
        onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" pattern="[0-9]*">
    </mat-form-field>
    <mat-form-field fxFlex="20" appearance="outline">
      <mat-label>Minutes</mat-label>
      <input matInput formControlName="minutes" type="text" maxlength="2" required autocomplete="off"
        onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" pattern="[0-9]*">
    </mat-form-field>
  </div>
</form>