<ng-select [items]="employeeList" [multiple]="true" bindLabel="firstName" bindValue="empNo" placeholder="Select items"
    [formControl]="employee">
    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
        <div class="ng-value" *ngFor="let item of items | slice:0:1">
            <span class="ng-value-label"><img [src]="item.avatar" width="20px" height="20px"> {{item.firstName}}</span>
            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
        </div>
        <div class="ng-value" *ngIf="items.length > 1">
            <span class="ng-value-label">{{items.length - 1}} more...</span>
        </div>
    </ng-template>
</ng-select>