<dx-data-grid [dataSource]="dataSource" [remoteOperations]="false" [allowColumnReordering]="false"
  [rowAlternationEnabled]="false" [showBorders]="true" [showColumnLines]="true" [allowColumnResizing]="true">

  <dxo-paging [pageSize]="10"></dxo-paging>
  <!-- <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10]"></dxo-pager> -->
  <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
  <dxo-column-chooser [title]="chooserTitle" [enabled]="true" mode="select"></dxo-column-chooser>
  <dxo-pager *ngIf="dataSource.length>0" [showPageSizeSelector]="true" [visible]="true" [allowedPageSizes]="false"></dxo-pager>  


  <dxi-column dataField="compName" caption="Client" [width]="70"></dxi-column>
  <dxi-column dataField="projectName" dataType="string" caption="Project" [width]="100">
  </dxi-column>
  <dxi-column dataField="jobNo" dataType="string" caption="Job NO." [width]="110"></dxi-column>
  <dxi-column dataField="jobName" dataType="string" caption="Job Name" [minWidth]="200"></dxi-column>

  <dxi-column dataField="srvcName" dataType="string" caption="Service" [width]="120"></dxi-column>​

  <dxi-column dataField="briefDate" dataType="date" format="dd/MM/yyyy" caption="Brief Date" alignment="center"
    [width]="110"></dxi-column>
  <dxi-column dataField="dueDate" dataType="date" format="dd/MM/yyyy" caption="Due Date" alignment="center"
    [width]="110">
  </dxi-column>

  <dxi-column dataField="jobStatusName" cellTemplate="statusTemplate" dataType="string" caption="Status"
    alignment="center" [width]="120">


  </dxi-column>
  <div *dxTemplate="let cell of 'statusTemplate'">
    <div fxLayout="row" fxFlexAlign="center center">
      <span class="p-4">{{cell.data.jobStatusName}}</span>
      <mat-icon *ngIf="isAssign(cell.data)" matTooltip="Assigned" matTooltipPosition="above">assignment_ind</mat-icon>
    </div>
  </div>

  <dxi-column caption="Options" cellTemplate="optionsTemplate" alignment="center" [width]="60">
  </dxi-column>
  <div *dxTemplate="let cell of 'optionsTemplate'">
    <a mat-icon-button [routerLink]="['/pages/jobs/detail/' + cell.data.jobNo]">
      <mat-icon matTooltip="Edit Job" matTooltipPosition="above">edit</mat-icon>
    </a>
  </div>
  <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
</dx-data-grid>