<dx-data-grid id="timesheetGrid" *ngIf="dataSource.length > 0" [dataSource]="dataSource" [remoteOperations]="false"
  [allowColumnReordering]="false" [rowAlternationEnabled]="false" [showBorders]="true" [showColumnLines]="true"
  (onContentReady)="contentReady($event)" [columns]="columns">
  <!-- <dxo-search-panel [visible]="true"></dxo-search-panel> -->
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="false"></dxo-pager>
  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
  
  <dxo-pager *ngIf="dataSource.length>0" [showPageSizeSelector]="true" [visible]="true" [allowedPageSizes]="false"></dxo-pager>  

  <dxi-column dataField="empName" dataType="string" caption="Employee" [width]="100"></dxi-column>
  <dxi-column dataField="deptName" dataType="string" alignment="center" caption="Department" [width]="70"></dxi-column>
  <!-- <dxi-column dataField="jobNo" datหaType="string" cellTemplate="jobNoTemplate" alignment="center" caption="Jobs No."
    [width]="120"></dxi-column>
  <div *dxTemplate="let cell of 'jobNoTemplate'">
    <span id="{{cell.data.jobNo}}">{{cell.data.jobNo}}</span>
    <dx-tooltip target="#{{cell.data.jobNo}}" position="right" showEvent="dxhoverstart" hideEvent="dxhoverend">
      <div *dxTemplate="let data = data of 'content'" class="text-left grey-50 border border-radius-4 p-8">
        <span class="h3 indigo-fg">Job No. : {{cell.data.jobData.jobNo}}</span><br />
        <mat-divider></mat-divider>
        <span>Job Name :{{cell.data.jobData.jobName}}</span><br />
        <span>Contact Name :{{cell.data.jobData.jobNo}}</span><br />
        <span>Service :{{cell.data.jobData.serviceName}}</span><br />
        <span>Sub Service :{{cell.data.jobData.subServiceName}}</span><br />
        <span>Brief Date :{{cell.data.jobData.briefDate | datetime: 'DD/MM/YYYY'}}</span><br />
        <span>Due Date :{{cell.data.jobData.dueDate | datetime: 'DD/MM/YYYY'}}</span><br />
        <span>Issue By :{{cell.data.jobData.issueByName}}</span><br />
        <span>Issue Date :{{cell.data.jobData.issueDate | datetime: 'DD/MM/YYYY HH:mm'}}</span><br />
      </div>
    </dx-tooltip>
  </div> -->

  <!-- <dxi-column cellTemplate="taskTemplate" dataType="string" caption="Task"></dxi-column> -->

  <!-- <div *dxTemplate="let cell of 'taskTemplate'">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span class="b">{{cell.data.taskName}}</span>
      <div fxLayout="row" fxLayoutAlign="end center">
        <rr-timer-button [task]="cell.data"></rr-timer-button>

        <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="More" matTooltipPosition="above">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onClickDetail(cell.data);">
            <mat-icon>edit</mat-icon>
            <span>Task Info</span>
          </button>

          <a mat-menu-item [routerLink]="['/pages/jobs/detail/' + cell.data.jobNo]">
            <mat-icon>assignment</mat-icon>
            <span>Job Detail</span>
          </a>
          <a mat-menu-item (click)="clickHistoryTime(cell.data)">
            <mat-icon>history_edu</mat-icon>
            <span>Work History</span>
          </a>          
        </mat-menu>
      </div>
    </div>
  </div> -->

  <dxi-column *ngFor="let item of dateList" [dataField]="item.value" caption="{{item.value | amDateFormat:'dd, DD'}}"
    cellTemplate="dayTemplate" alignment="center" [width]="70" time-column ></dxi-column>

  <div *dxTemplate="let cell of 'dayTemplate'" class="p-0">
    <span>{{getDuration(cell.data.summaryTimeList, cell)}}</span>​
  </div>

  <dxi-column cellTemplate="totalDuration" dataType="number" caption="Total" alignment="center" [width]="80">
  </dxi-column>
  <div *dxTemplate="let cell of 'totalDuration'">
    {{convertDuration(cell.data.totalDuration)}}
  </div>​
<!--   
  <dxo-summary [calculateCustomSummary]="calculateSummary">
    <dxi-total-item *ngFor="let item of dateList" [column]="item.value" name="{{item.name}}" [showInColumn]="item.name"
      summaryType="custom" alignment="center">
    </dxi-total-item>

    <dxi-total-item column="totalDuration" summaryType="sum" valueFormat="decimal" displayFormat="{0}">
    </dxi-total-item>
  </dxo-summary> -->

</dx-data-grid>