<span class="h3">กรุณาเลือก</span>
<div mat-dialog-content>
  <form name="taskGroupModal" [formGroup]="taskGroupModal" novalidate fxLayout="row" fxLayoutAlign="space-between stretch"
    fxLayoutGap="20px" class="mt-12 mb-12">
    <div fxFlex="65" fxLayout="column" fxLayoutAlign="start stretch" class="fuse-card p-12">
      <mat-form-field *ngIf="!isActionAdd()">
        <mat-label>Task Group <span>*ใช้เฉพาะกรณี invit คนใหม่เท่านั้น</span></mat-label>
        <mat-select formControlName="taskGroupCode" >
          <mat-option *ngFor="let taskGroup of taskGroupList" [value]="taskGroup.taskGroupCode">
            {{taskGroup.taskGroupName}}
          </mat-option>
        </mat-select>
      </mat-form-field>      
    </div>
  </form>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button color="accent" matTooltip="Accept" matTooltipPosition="above" (click)="onConfirm()"
   >
    Confirm
  </button>
  <button mat-stroked-button color="warn" matTooltip="Cancel" matTooltipPosition="above" [mat-dialog-close]>
    <mat-icon>close</mat-icon>
  </button>
</div>