<div fxLayout="column" fxLayoutAlign="space-between stretch">
  <h2 mat-dialog-title class="red-fg text-center">{{data.title}}</h2>
  <mat-divider></mat-divider>
  <h3 class=" text-center">{{data.message}}</h3>
  <mat-divider>
  </mat-divider>
  <div fxLayout="row" fxLayoutAlign="center center" class="mt-20 text-center">
    <button mat-raised-button [mat-dialog-close] color="accent">
      OK
    </button>
  </div>
</div>