<dx-data-grid id="timesheetGrid"  [dataSource]="dataSource" [remoteOperations]="false"
  [allowColumnReordering]="false" 
  [rowAlternationEnabled]="false" [showBorders]="true" [showColumnLines]="true"
  [columnAutoWidth]="true"
  >
  <dxo-scrolling [useNative]="true" mode="standard" [scrollByContent]="true" [scrollByThumb]="true"
  showScrollbar="onHover"></dxo-scrolling>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="false"></dxo-pager>
  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-pager  [showPageSizeSelector]="true" [visible]="true" [allowedPageSizes]="false">
  </dxo-pager>
  <dxi-column dataField="jobNo" dataType="string" alignment="center" caption="Jobs No.">
  </dxi-column> 
  <dxi-column dataField="taskCode" dataType="string"  alignment="center" caption="Task Code">      
  </dxi-column> 

  <dxi-column dataField="taskName" dataType="string"  alignment="center" caption="Task Name"[width]="150" >      
  </dxi-column> 
  <dxi-column dataField="startDate" dataType="date" format="dd/MM/yyyy"  alignment="center" caption="Start Date">      
  </dxi-column> 
  <dxi-column dataField="endDate" dataType="date" format="dd/MM/yyyy"  alignment="center" caption="End Date">      
  </dxi-column> 
  <dxi-column dataField="workTimeHot" dataType="string" caption="Time(hour)" ></dxi-column>
  <dxi-column dataField="timeSheetIsActive" dataType="string" caption="สถานะ" ></dxi-column>
  
  <dxi-column dataField="createdDate" dataType="date" format="dd/MM/yyyy" caption="วันที่บันทึกข้อมูล"  dataType="date"  format="dd/MM/yyyy hh:mm"></dxi-column>


</dx-data-grid>