<button *ngIf="userProfile?.empNo == task?.empNo" mat-icon-button matTooltip="Start/Stop" matTooltipPosition="above"
  [color]="task?.taskCode == timing?.taskCode ? 'warn' : ''" (click)="onTiming()">
  <mat-icon>timer</mat-icon>
</button>

<!-- <pre>task?.taskCode {{task?.taskCode}}</pre>
<pre>timing?.taskCode {{timing?.taskCode}}</pre> -->