<mat-form-field fxFlex>
  <mat-label>Customer</mat-label>
  <mat-select [formControl]="customers" multiple [disabled]="customerList.length == 0">
    <mat-select-trigger>
      {{customers.value?.length > 0 ? customers.value[0].compName : ''}}
      <span *ngIf="customers.value?.length > 1">
        (+{{customers.value.length - 1}})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let item of customerList" [value]="item">{{item.compName}}</mat-option>
  </mat-select>
</mat-form-field>