<form name="taskFrom" [formGroup]="taskFrom" novalidate fxLayout="column" fxLayoutAlign="start stretch">
  <input type="hidden" formControlName="taskCode">
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <mat-form-field fxFlex>
        <mat-label>Client</mat-label>
        <mat-select formControlName="compCode" required>
          <mat-option *ngFor="let client of clientList" [value]="client.compCode">
            {{client.compName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="taskFrom.get('compCode').hasError('required')">
          Please specify client.
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>Project</mat-label>
        <mat-select formControlName="projectCode" required [disabled]="!taskFrom.get('compCode').value">
          <mat-option *ngFor="let project of projectList" [value]="project.projectCode">
            {{project.projectName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="taskFrom.get('projectCode').hasError('required')">
          Please specify project.
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>Job NO.</mat-label>
        <mat-select formControlName="jobNo" required>
          <mat-option *ngFor="let jobs of jobsList" [value]="jobs.jobNo">
            <span class="mr-12">{{jobs.jobNo + ' ' + jobs.jobName}}</span>
          </mat-option>
        </mat-select>
        <mat-error *ngIf="taskFrom.get('jobNo').hasError('required')">
          Please specify job no.
        </mat-error>
      </mat-form-field>

    </div>
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px" *ngIf="selectedJobProfile">
      <span class="h3">Job Name : {{selectedJobProfile.jobName}}</span>
      <div fxFlex class="grey-100 p-8 border-radius-4" [innerHTML]="selectedJobProfile.jobDesc"></div>
    </div>
    <br />
    <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="20px">
      <div fxFlex="60" fxLayout="column" fxLayoutAlign="start stretch" class="fuse-card p-12">
        <mat-form-field>
          <mat-label>Task name</mat-label>
          <input matInput formControlName="taskName" required autocomplete="off">
          <mat-error *ngIf="taskFrom.get('taskName').hasError('required')">
            Please specify task name.
          </mat-error>
          <mat-error *ngIf="taskFrom.get('taskName').hasError('maxlength')">
            Please enter no more than
          </mat-error>
        </mat-form-field>
     
        <mat-form-field>
          <mat-label>Task Group</mat-label>
          <mat-select formControlName="taskGroupCode" required>
            <mat-option *ngFor="let jobsGroup of jobsGroupList" [value]="jobsGroup.taskGroupCode">
              {{jobsGroup.taskGroupName}}</mat-option>
          </mat-select>
          <mat-error *ngIf="taskFrom.get('taskGroupCode').hasError('required')">
            Please specify task group.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput rows="5" formControlName="note"></textarea>
        </mat-form-field>
      </div>
      <div fxFlex="40" fxLayout="column" fxLayoutAlign="start stretch">
        <div fxLayout="row" fxLayoutAlign="center center " >
          <ng-select fxFlex="100" labelForId="employee" [items]="workerList" bindLabel="firstName" bindValue="empNo"
          [multiple]="true" clearAllText="Clear" formControlName="assignList" required>
        </ng-select>
        &nbsp;
          <mat-icon  style="padding-bottom: 20px;" matTooltip="Select All" matTooltipPosition="above" (click)="onSelectAll()">done_all</mat-icon>
       </div>
        <mat-form-field>
          <mat-label>Start Date</mat-label>
          <input matInput formControlName="planStartDate" [matDatepicker]="planStartDatePicker" required
            autocomplete="off" [max]="taskFrom.get('planEndDate').value">
          <mat-datepicker-toggle matSuffix [for]="planStartDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #planStartDatePicker></mat-datepicker>

          <mat-error *ngIf="taskFrom.get('planStartDate').hasError('required')">
            Please specify start date.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>End Date</mat-label>
          <input matInput formControlName="planEndDate" [matDatepicker]="planEndDatePicker" required autocomplete="off"
            [min]="taskFrom.get('planStartDate').value">
          <mat-datepicker-toggle matSuffix [for]="planEndDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #planEndDatePicker></mat-datepicker>
          
          <mat-error *ngIf="taskFrom.get('planEndDate').hasError('required')">
            Please specify end date.
          </mat-error>
        </mat-form-field>
        <!-- </div> -->
        <!-- <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px"> -->
        <mat-form-field>
          <mat-label>Due Date</mat-label>
          <input matInput formControlName="dueDate" [matDatepicker]="dueDatePicker" required autocomplete="off"
            [min]="taskFrom.get('planStartDate').value">
          <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #dueDatePicker></mat-datepicker>
          <mat-error *ngIf="taskFrom.get('dueDate').hasError('required')">
            Please specify duedate.
          </mat-error>
        </mat-form-field>
        <!-- </div> -->
        <!-- <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px"> -->
        <mat-form-field>
          <mat-label>Priority</mat-label>
          <mat-select formControlName="priorityCode" required>
            <mat-option *ngFor="let priority of priorityList" [value]="priority.priorityCode">
              {{priority.priorityName}}</mat-option>
          </mat-select>
          <mat-error *ngIf="taskFrom.get('priorityCode').hasError('required')">
            Please specify priority.
          </mat-error>
        </mat-form-field>
        <!-- {{taskStatusList | json}} -->
        <mat-form-field>
          <mat-label>Task Status</mat-label>
          <mat-select formControlName="taskStatusCode" required>
            <mat-option *ngFor="let status of taskStatusList" [value]="status.taskStatusCode">{{status.taskStatusName}}
            </mat-option>
          </mat-select>
          <!-- <mat-error *ngIf="taskFrom.get('taskStatusCode').hasError('required')">
            Require Task Status
          </mat-error> -->
        </mat-form-field>
        <!-- </div> -->
        <mat-form-field>
          <mat-label>Time Estimation (Hours)</mat-label>
          <input matInput formControlName="estimated" required autocomplete="off">
          <mat-error *ngIf="taskFrom.get('estimated').hasError('required')">
            Require Time Estimation (Hours)
          </mat-error>
          <mat-error *ngIf="taskFrom.get('estimated').hasError('pattern')">
            Time Estimation Correct Format (Hours)
          </mat-error>
        </mat-form-field>
      </div>
    </div>​
  </div>
</form>