<div class="page-layout simple fullwidth">
  <div fxFlex="55px" class="grey-200 pr-20 pl-20" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex>
      <h2 class="m-0">Notifications</h2>
    </div>
  </div>
  <app-noti-grid></app-noti-grid>
</div>