<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

  <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

    <!-- <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
      <img src="assets/images/logos/logo_pea.png">
    </div> -->

    <!-- <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
      ยินดีต้อนรับเข้าสู่ระบบ RR Time Sheet
    </div> -->
  </div>

  <div id="login-form-wrapper" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

    <div id="login-form">

      <div class="logo" fxHide.gt-xs>
        <img src="assets/images/logos/logo_pea.png">
      </div>

      <div class="title">Relationship Republic</div>

      <form name="loginForm" [formGroup]="loginForm" novalidate>

        <mat-form-field appearance="outline">
          <mat-label>ชื่อผู้ใช้งาน</mat-label>
          <input matInput formControlName="username" autocomplete="off" required>
          <mat-error *ngIf="loginForm.get('username').hasError('required')">
            ต้องระบุชื่อผู้ใช้งาน @relationshiprepublic.com
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Company</mat-label>
          <mat-select value="" disabled>
            <mat-option value="">@RelationshipRepublic.com</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>รหัสผ่าน</mat-label>
          <input matInput type="password" formControlName="password" autocomplete="new-password" required>
          <mat-error *ngIf="loginForm.get('password').hasError('required')">
            ต้องระบุรหัสผ่าน
          </mat-error>
        </mat-form-field>

        <ngx-recaptcha2 *ngIf="env.iService.reCaptchaKey" [siteKey]="'6Leqm-sUAAAAAGaRi0ecnydbB0jntMZzNOoV2vAd'"
          [hl]="'th'" [theme]="'light'" [type]="'image'" [useGlobalDomain]="false" formControlName="recaptcha">
        </ngx-recaptcha2>

        <p *ngIf="loginFail" class="warn-fg text-center">{{loginErrorMsg}}</p>
        <button mat-raised-button color="accent" class="submit-button" (click)="submitLogin()">
          เข้าสู่ระบบ
        </button>
        <!-- <a class="warn-fg text-right" (click)="resetPassword()">ลืมรหัสผ่าน</a> -->
      </form>

    </div>
  </div>
</div>