<div class="page-layout simple fullwidth">
  <div fxFlex="55px" class="grey-200 pr-20 pl-20" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex>
      <h2 class="m-0">Row Data</h2>
    </div>
  </div>

  <div class="content p-20" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20px">
    <mat-card>
      <form [formGroup]="searchForm" novalidate fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
        <mat-form-field fxFlex="15">
          <mat-label>From</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="startDate" autocomplete="off">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex="15">
          <mat-label>To</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="endDate" autocomplete="off">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <button mat-raised-button color="accent" (click)="searchFormSubmit()">Search</button>
      </form>
    </mat-card>

    <dx-data-grid id="gridContainer" [dataSource]="dataList" [showBorders]="true" (onExporting)="onExporting($event)">
      <dxo-group-panel [visible]="true"></dxo-group-panel>
      <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
      <dxo-selection mode="multiple"></dxo-selection>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
      </dxo-pager>
      <dxo-scrolling [useNative]="true" mode="standard" [scrollByContent]="true" [scrollByThumb]="true"
      showScrollbar="onHover"></dxo-scrolling>
      <dxi-column dataField="empNo"  caption="Employee No."></dxi-column>
      <dxi-column dataField="empName" caption="Employee Name"></dxi-column>
      <dxi-column dataField="deptName" caption="Dept Name"></dxi-column>
      <dxi-column dataField="jobNo" caption="Job No."></dxi-column>
      <dxi-column dataField="taskName" caption="Task Name" width="250px"></dxi-column>
      <dxi-column dataField="taskGroupName" caption="Task Group"></dxi-column>
      <dxi-column dataField="timeSheetIsActive" caption="Status"></dxi-column>
      <dxi-column dataField="startDate"  dataType="date" format="dd/MM/yyyy"  caption="Start Date"></dxi-column>
      <dxi-column dataField="endDate"  dataType="date" format="dd/MM/yyyy"  caption="End Date"></dxi-column>
      <dxi-column dataField="workTime" caption="Work time"></dxi-column>
      <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
    </dx-data-grid>
  </div>
</div>