<mat-form-field fxFlex>
  <mat-label>Project</mat-label>
  <mat-select required [formControl]="projects" [disabled]="!customer">
    <mat-option *ngFor="let item of projectList" [value]="item?.projectHId">{{item.projectName}}
    </mat-option>
  </mat-select>
</mat-form-field>