<dx-data-grid id="timesheetHistoryGrid" [dataSource]="dataSource"
    [remoteOperations]="false" [allowColumnReordering]="false" [rowAlternationEnabled]="false" [showBorders]="true"
    [showColumnLines]="true" >
    <dxi-column dataField="startDate" caption="Date" dataType="date" format="dd/MM/yyyy" ></dxi-column>
    <dxi-column dataField="workTimeHot" dataType="string" caption="Time(hour)" ></dxi-column>
    <dxi-column dataField="createDate" dataType="string" caption="วันที่บันทึกข้อมูล"  dataType="date"  format="dd/MM/yyyy hh:mm"></dxi-column>
    <dxi-column caption="Options" cellTemplate="optionsTemplate" alignment="center" [width]="100">
    </dxi-column>
    <div *dxTemplate="let cell of 'optionsTemplate'">
        <mat-icon matTooltip="Delete" (click)="delete(cell.data)" >delete</mat-icon>
    </div>

    <!-- <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-paging [pageSize]="50"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager> -->
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
</dx-data-grid>