<div *ngIf="timing" matRipple id="timerList" (click)="isPopoverVisible = !isPopoverVisible"
  class="border-radius-16 cursor-pointer font-size-14 h-32 ml-12 mr-12 pl-12 pr-12 warn disable-select">
  <span [innerHTML]="timingDuration.value"></span>
</div>
<dx-popover *ngIf="timing" id="timerContrainer" target="#timerList" [closeOnOutsideClick]="false"
  [visible]="isPopoverVisible">
  <div *dxTemplate="let data of 'content'" class="w-600">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="p-12">
      <span fxFlex class="h2">On Process</span>
      <div fxFlex fxLayout="row" fxLayoutAlign="end center">
        <span>Duration : {{timing.totalWorkingTime / 60 | number: '1.2-2'}} Hour(s), Start at
          {{timing.startDate | amDateFormat:'HH:mm:ss A'}}</span>
      </div>
    </div>
    <mat-divider>
    </mat-divider>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="p-12">
      <div fxFlex="75" fxLayout="column">
        <span class="h4 grey-500-fg">{{timing.projectName}}</span>
        <span class="h3">{{timing.taskName}}</span>
      </div>
      <div fxFlex="25" fxLayout="row" fxLayoutAlign="space-between center" class="h-40 pink-100"
        style="border-radius: 60px;">
        <button mat-mini-fab color="warn" (click)="saveTiming()">
          <mat-icon>stop</mat-icon>
        </button>
        <span class="pink-fg h2" [innerHTML]="timingDuration.value"></span>
        <button-confirm [config]="buttonConfirmConfig" (anwser)="confirmDicard($event)"></button-confirm>
      </div>
    </div>
    <mat-divider>
    </mat-divider>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" class="p-12">
      <button mat-stroked-button color="warn" (click)="isPopoverVisible = false">
        Close
      </button>
    </div>
  </div>

</dx-popover>