<h1 mat-dialog-title>กรุณาเลือก Task Group</h1>
<div mat-dialog-content class="mt-12 mb-12" >
  <form namr="selectGroupForm" [formGroup]="selectGroupForm" novalidate fxLayout="column" fxLayoutAlign="space-between stretch">
    <mat-form-field  >
      <mat-label>Task Group <span>*ใช้เฉพาะกรณี invit คนใหม่เท่านั้น</span></mat-label>
      <mat-select formControlName="taskGroupCode" >
        <mat-option *ngFor="let taskGroup of taskGroupList" [value]="taskGroup.taskGroupCode">
          {{taskGroup.taskGroupName}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="selectGroupForm.get('taskGroupCode').hasError('required')">
        Please specify task Group.
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClick()">ยืนยัน</button>
  <button mat-button (click)="onClose()" cdkFocusInitial>ยกเลิก</button>
</div>