<div class="timeline-item" *ngFor="let comment of comments">
    <footer class="" fxLayout="column" fxLayoutAlign="start start">
        <div *ngIf="post.comments" class="comment-count" fxLayout="row" fxLayoutAlign="start center">
            {{post.comments.length}} comments
            <mat-icon class="s-16">keyboard_arrow_down</mat-icon>
        </div>

        <div class="comment" fxLayout="row" fxFlexFill *ngFor="let comment of post.comments">
            <img [src]="comment.user.avatar" class="avatar"/>

            <div fxLayout="column" fxFlex>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <span class="username">{{comment.user.name}}</span>
                    <span class="time">{{comment.time}}</span>
                </div>
                <div class="message">
                    {{comment.message}}
                </div>
                <div class="actions" fxLayout="row" fxLayoutAlign="space-between center">
                    <a href="#" class="reply-button">Reply</a>
                    <mat-icon fxFlex class="report-button s-16">flag</mat-icon>
                </div>
            </div>
        </div>

        <div class="reply" fxLayout="row" fxFlexFill>
            <img src="assets/images/avatars/profile.jpg" class="avatar"/>

            <form fxFlex>
                <textarea placeholder="Add a comment..."></textarea>
                <button mat-raised-button color="accent" class="post-comment-button" aria-label="Post Comment">
                    Post Comment
                </button>
            </form>
        </div>
    </footer>
</div>

