<h2 mat-dialog-title>Task list</h2>
<p style="padding-left: 2px;">รหัสพนักงาน : {{data.empNo}} </p>
<p style="padding-left: 2px;">ชื่อพนักงาน : {{data.empName}} </p>
<br>
<div mat-dialog-content>
    <rr-report-work-form  [data]="data.dataTaskList" ></rr-report-work-form>
</div>
<div mat-dialog-actions align='center'>
    <!-- <button mat-raised-button color="accent" matTooltip="Save" matTooltipPosition="above" (click)="onSaveTimerManual()">
        <mat-icon>save</mat-icon>
    </button> -->
    <button mat-stroked-button color="warn" matTooltip="Cancel" matTooltipPosition="above" [mat-dialog-close]>
        <mat-icon>close</mat-icon>
    </button>
</div>