<mat-form-field>
  <mat-label>Start</mat-label>
  <input matInput [matDatepicker]="pickerStart" [formControl]="startDate" autocomplete="off">
  <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
  <mat-datepicker #pickerStart></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <mat-label>End</mat-label>
  <input matInput [matDatepicker]="pickerEnd" [formControl]="endDate" autocomplete="off">
  <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
  <mat-datepicker #pickerEnd></mat-datepicker>
</mat-form-field>