<!-- <mat-dialog-content class="h-52">
  <h2 mat-dialog-title class="red-fg text-center">{{data.dialogTitile}}</h2>
  <mat-divider></mat-divider>
  <p class=" text-center">{{data.dialogContent}}</p>
  <mat-divider></mat-divider>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="accent" (click)="confirm()">
    {{data.btnConfirmText}}
  </button>
  <button mat-raised-button (click)="close()">
    {{data.btnCancelText}}
  </button>
</mat-dialog-actions> -->

<div fxLayout="column" fxLayoutAlign="space-between stretch">
  <h2 mat-dialog-title class="text-center">{{data.dialogTitile}}</h2>
  <mat-divider></mat-divider>
  <p class=" text-center">{{data.dialogContent}}</p>
  <mat-divider>
  </mat-divider>
  <div fxLayout="row" fxLayoutAlign="center center" class="text-center mt-20">
    <!-- <button mat-raised-button [mat-dialog-close] color="accent">
      OK
    </button> -->
    <button mat-raised-button color="accent" (click)="confirm()" class="mr-20">
      {{data.btnConfirmText}}
    </button>
    <button mat-raised-button (click)="close()">
      {{data.btnCancelText}}
    </button>
  </div>
</div>