<mat-form-field fxFlex>
    <mat-label>Client</mat-label>
    <mat-select [formControl]="clients" multiple>
      <mat-select-trigger>
        {{clients.value?.length > 0 ? clients.value[0].compName : ''}}
        <span *ngIf="clients.value?.length > 1">
          (+{{clients.value.length - 1}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let item of clientList" [value]="item">{{item.compName}}</mat-option>
    </mat-select>
  </mat-form-field>