<button *ngIf="!config.isIcon" mat-raised-button color="accent" (click)="openDialog()" [innerHTML]="config.btnText">

</button>

<button *ngIf="config.isIcon" mat-icon-button (click)="openDialog()">
    <mat-icon>{{config.btnText}}</mat-icon>
</button>