<h1 mat-dialog-title>{{titleText()}}</h1>
<div mat-dialog-content>
  <ngx-loading [show]="loading"></ngx-loading>
  <app-task-from  [actionType]="actionType" (formGroup)="trackTaskForm($event)"></app-task-from>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button color="accent" matTooltip="Save" matTooltipPosition="above" (click)="submit()">
    <mat-icon>save</mat-icon>
  </button>
  <button mat-stroked-button color="warn" matTooltip="Cancel" matTooltipPosition="above" [mat-dialog-close]><mat-icon>close</mat-icon></button>
</div>