<form name="searchForm" [formGroup]="searchForm" novalidate class="page-layout simple fullwidth"
  [fusePerfectScrollbar]="true" [fusePerfectScrollbarOptions]="{'updateOnRouteChange': true}">

  <!-- <div class="page-layout simple fullwidth"> -->

  <div fxFlex="55px" class="grey-200 pr-20 pl-20" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <span class="h2">Jobs</span>
      <span class="mr-8">Year</span>
      <mat-form-field fxFlex="15">
        <mat-select formControlName="jobYear">
          <mat-option *ngFor="let item of selectYearList" [value]="item">{{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
      <a mat-raised-button color="accent" [routerLink]="'/pages/jobs/detail/0'" matTooltip="Add job"
        matTooltipPosition="above">
        <mat-icon>add</mat-icon>
      </a>
    </div>
  </div>
  <div class="content p-20">
    <mat-card fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
        <mat-form-field fxFlex="30">
          <mat-label>Client</mat-label>
          <mat-select formControlName="compCode" [disabled]="clientList.length == 0">
            <mat-option *ngFor="let item of clientList" [value]="item.compCode">{{item.compName}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="20">
          <mat-label>Project</mat-label>
          <mat-select formControlName="projectCode" [disabled]="projectList?.length == 0">
            <mat-option *ngFor="let item of projectList" [value]="item.projectCode">{{item.projectName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="20">
          <mat-label>Job No.</mat-label>
          <input matInput autocomplete="off" formControlName="jobNo">
        </mat-form-field>

        <mat-form-field fxFlex="20">
          <mat-label>Job Status</mat-label>
          <mat-select formControlName="jobStatusCode" multiple required>
            <mat-option *ngFor="let item of jobStatusList" [value]="item.jobStatusCode">{{
                                            item.jobStatusName
                                          }}</mat-option>
          </mat-select>
          <mat-error *ngIf="searchForm.get('jobStatusCode').hasError('required')">
            Please specify job status.
          </mat-error>
        </mat-form-field>

        ​<button mat-raised-button color="accent" (click)="onSearch()">
          <mat-icon matTooltip="Search" matTooltipPosition="above">search</mat-icon>
        </button>
        <button mat-stroked-button (click)="resetForm()">
          <mat-icon matTooltip="Reset Search" matTooltipPosition="above">replay</mat-icon>
        </button>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">

        <mat-form-field>
          <mat-label>From Brief Date</mat-label>
          <input matInput [matDatepicker]="pickerStart" formControlName="briefStartDate" autocomplete="off"
            [max]="searchForm.get('briefEndDate').value">
          <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
          <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>To Brief Date</mat-label>
          <input matInput [matDatepicker]="pickerEnd" formControlName="briefEndDate" autocomplete="off"
            [min]="searchForm.get('briefStartDate').value">
          <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
          <mat-datepicker #pickerEnd></mat-datepicker>
        </mat-form-field>
      </div>


      <rr-jobs-grid></rr-jobs-grid>
    </mat-card>
  </div>

  <!-- </div> -->
</form>