<dx-data-grid [dataSource]="dataSource" [remoteOperations]="false" [allowColumnReordering]="false"
  [rowAlternationEnabled]="false" [showBorders]="true" [showColumnLines]="true" [allowColumnResizing]="true">
  <dxo-pager [showPageSizeSelector]="false" [allowedPageSizes]="true"></dxo-pager>
  <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxo-pager *ngIf="dataSource.length>0" [showPageSizeSelector]="true" [visible]="true" [allowedPageSizes]="false"></dxo-pager>  

  <dxi-column dataField="jobTaskName" dataType="string" caption="Task Name" [width]="200"></dxi-column>
  <dxi-column dataField="note" dataType="string" caption="Description" [minWidth]="100">
  </dxi-column>
  <dxi-column dataField="deptName" dataType="string" caption="Assign To" alignment="center" [width]="100"></dxi-column>
  <dxi-column dataField="dueDate" dataType="date" format="dd/MM/yy" caption="Due Date" alignment="center" [width]="90">
  </dxi-column>
  <dxi-column dataField="priorityName" dataType="string" caption="Priority" alignment="center" [width]="80">
  </dxi-column>
  <dxi-column dataField="jobTaskStatusName" dataType="string" caption="Status" alignment="center" [width]="80">
  </dxi-column>
  <dxi-column *ngIf="isShowButton" caption="Options" cellTemplate="optionsTemplate" alignment="center" [width]="100"></dxi-column>
  <div  *dxTemplate="let cell of 'optionsTemplate'">
    <!-- <button mat-icon-button (click)="openDialogTaskFrom(cell)" *ngIf="this.jobDetail" [disabled]="jobStatusCode==='CL'">
      <mat-icon>assignment</mat-icon>
    </button> -->
    <button mat-icon-button (click)="openJobTaskModal(cell)">
      <mat-icon>edit</mat-icon>
    </button>
    <button-confirm *ngIf="!jobDetail"
      [config]="{ btnText: 'delete_forever', isIcon: true, dialogContent: 'ยืนยันการลบข้อมูล Task', dialogTitile: 'Job : Task'}"
      (anwser)="deleteJobTask($event, cell)">
    </button-confirm>
  </div>
</dx-data-grid>