// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";
// @import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@ng-select/ng-select/themes/material.theme.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~assets/font/prompt/font-prompt.css";

h1,
h2,
h3,
h4,
h5,
h6,
html,
span {
  font-family: "promptmedium", sans-serif;
}

.mat-header-center {
  display: flex !important;
  justify-content: center !important;
}
.mat-header-right {
  display: flex !important;
  justify-content: right !important;
}
.mat-form-field-required-marker {
  color: red !important;
}
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  font-size: 14px;
}
tr.mat-row,
tr.mat-footer-row {
  height: 40px;
}
//  .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
//    font-size: 13.5px !important;
//  }
