<div class="page-layout simple fullwidth">
  <div fxFlex="55px" class="grey-200 pr-20 pl-20" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex>
      <h2 class="m-0">Report</h2>
    </div>
  </div>

  <div class="content p-20" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20px">
    <mat-card>
      <form [formGroup]="searchForm" novalidate fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
        <mat-form-field fxFlex="15">
          <mat-label>From</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="startDate" autocomplete="off">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex="15">
          <mat-label>To</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="endDate" autocomplete="off">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex="50">
          <mat-label>Department(s)</mat-label>
          <mat-select formControlName="deptCodeList" multiple>
            <mat-option *ngFor="let item of departmentList" [value]="item.deptCode">{{item.deptName}}</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="accent" (click)="searchFormSubmit()">Search</button>
      </form>
    </mat-card>

    <dx-data-grid id="gridContainer" [dataSource]="dataList" [showBorders]="true" (onExporting)="onExporting($event)">
      <dxo-group-panel [visible]="true"></dxo-group-panel>
      <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
      <dxo-selection mode="multiple"></dxo-selection>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
      </dxo-pager>
      <dxo-scrolling [useNative]="true" mode="standard" [scrollByContent]="true" [scrollByThumb]="true"
      showScrollbar="onHover"></dxo-scrolling>
      <dxi-column dataField="deptName" [groupIndex]="0" caption="Department"></dxi-column>
      <dxi-column dataField="empName" caption="Employee" width="560px"></dxi-column>

      <dxi-column *ngFor="let item of dateList" [dataField]="item.value"
        caption="{{item.value | amDateFormat:'dd, DD'}}" cellTemplate="dayTemplate" alignment="center" [width]="70"
        time-column></dxi-column>

      <div *dxTemplate="let cell of 'dayTemplate'" class="p-0">
        <span [ngClass]="{'cursor-pointer': true, 'indigo-fg': true}"
          (click)="openWorkDeatail(cell)">
          {{getDuration(cell.data.worktimeList, cell)}}
        </span>​
      </div>

      <dxi-column cellTemplate="totalTime" dataType="number" caption="Total" alignment="center" caption="Total" alignment="right" [width]="100"></dxi-column>
      <div *dxTemplate="let cell of 'totalTime'">
        {{convertDuration(cell.data)}}
      </div>
      <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
    </dx-data-grid>
  </div>
</div>