<div class="page-layout simple fullwidth">
  <div fxFlex="55px" class="grey-200 pr-20 pl-20" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex>
      <h2 class="m-0">Report</h2>
    </div>
  </div>
  <div class="content p-20">
    <mat-card>
      <form name="searchForm" [formGroup]="searchForm" novalidate fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
          <mat-form-field fxFlex="30">
            <mat-label>Client</mat-label>
            <mat-select formControlName="compCode" [disabled]="clientList.length == 0" >
              <mat-option *ngFor="let item of clientList" [value]="item.compCode">{{item.compName}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="20">
            <mat-label>Project</mat-label>
            <mat-select formControlName="projectCode" [disabled]="projectList?.length == 0" >
              <mat-option *ngFor="let item of projectList" [value]="item.projectCode">{{item.projectName}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="20">
            <mat-label>Year</mat-label>
            <mat-select formControlName="year" [disabled]="selectYearList?.length == 0">
              <mat-option *ngFor="let item of selectYearList" [value]="item">{{item}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
           <mat-form-field>
            <mat-label>jobNo</mat-label>
            <input type="text" matInput formControlName="jobNo" [matAutocomplete]="auto">
          </mat-form-field>
          
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let item of jobNoList" [value]="item.jobNo">{{item.jobNo}}</mat-option>
          </mat-autocomplete>
          
          <mat-form-field fxFlex="20">
            <mat-label>Job Status</mat-label>
            <mat-select formControlName="jobStatusCode" multiple required>
              <mat-option *ngFor="let item of jobStatusList" [value]="item.jobStatusCode">{{
                                            item.jobStatusName
                                          }}</mat-option>
            </mat-select>
            <mat-error *ngIf="searchForm.get('jobStatusCode').hasError('required')">
              Please specify job status.
            </mat-error>
          </mat-form-field>

          ​<button mat-raised-button color="accent" (click)="onSearch()">
            <mat-icon matTooltip="Search" matTooltipPosition="above">search</mat-icon>
          </button>
          <button mat-stroked-button (click)="resetForm()">
            <mat-icon  matTooltip="Reset Search" matTooltipPosition="above">replay</mat-icon>
          </button>
        </div>
       
      </form>
      <rr-jops-task-list [dataSource]="dataSource"></rr-jops-task-list>

    </mat-card>
  </div>
</div>