<h2 mat-dialog-title>บันทึกเวลาทำงาน</h2>
<div mat-dialog-content>
    <rr-timer-manual-form fxFlex="100" [data]="data" (formData)="onTimeManualSubmit($event)"></rr-timer-manual-form>
</div>
<div mat-dialog-actions align='center'>
    <button mat-raised-button color="accent" matTooltip="Save" matTooltipPosition="above" (click)="onSaveTimerManual()">
        <mat-icon>save</mat-icon>
    </button>
    <button mat-stroked-button color="warn" matTooltip="Cancel" matTooltipPosition="above" [mat-dialog-close]>
        <mat-icon>close</mat-icon>
    </button>
</div>